* {
  box-sizing: border-box;
}

.search-form {
  display: flex;
  padding: 10px;
  background-color: rgb(47, 74, 169);
  justify-content: center;
}

input {
  padding: 6px;
  width: 300px;
}

button {
  width: 100px;
  padding: 6px;
  background-color: rgb(70, 100, 207);
  color: white;
  cursor: pointer;
}

.load-more {
  display: block;
  margin: auto;
  width: 200px;
}

.is-hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  width: 500px;
  height: 300px;
  object-fit: contain;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

.gallery__item {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__item:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.gallery__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
